.polls-resultstable {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

#pollblockcontent .polls-resultstable {
    width: 100%;
    margin: 0%;
}

.polls-voteformlinks, .polls-resultlinks {
    text-align: center;
}

.poll-options-list
{
    list-style:none;
}

/* admin panel */
div#polls_category_selectors {
    display: inline;
}

.polls-resultschart {
    border-top: 1px solid #EEE;
    margin: 0px;
}
.polls-resultschart li {
    position: relative;
    display: block;
    border-bottom: 1px solid #EEE;
    margin: 0 0 10px 0;
    _zoom: 1;
}
.polls-resultschart li .item {
    display: block;
    padding: 0.1em 4.5em 0.1em 0.1em;
    position: relative;
    z-index: 2;
}
.polls-resultschart .count {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0.3em;
    text-align: right;
    color: #999;
    font-weight: bold;
    font-size: 0.875em;
    line-height: 2em;
}
.polls-resultschart .index {
    display: block;
    height: 100%;
    background: #DFDFDF;
    min-width: 2px;
    text-indent: -9999px;
    overflow: hidden;
    line-height: 1.5em;
}
.polls-resultschart li:hover {
    background: #F9F9F9;
}

